/*color palette
#282D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red


#F16D24 - orange
#545554 - gray
#2e2f30 - dark grey
#072E40 - dark blue
#0C3D54 - gray blue
#DAE9F2 - light blue
#EDF2F4 - blue white

white - white
#303030 - dark grey
#62B7B7 - blue
#DD4A4A - red

*/

/* Global styles
-----------------------*/
body {
	font-family: 'Open Sans', sans-serif;
	margin:0;
}

h1, h2 {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}
h1{
	font-size: 40px;
}

h2 {
	font-size: 20px;
	margin-top:0;
	padding-top: 0;
}

h3 {
	margin: 0;
}

a{
	color: white;
}

a: hover{
text-decoration: none;
}

.content-wrap {
	max-width: 950px;
	margin: 0 auto;
	padding: 60px 50px;
	overflow: auto;
}

.col-narrow {
	width: 30%;
	float:left;
	min-height:175px;
}

.col-wide {
	width:60%;
	float:left;
	padding-left: 20px;
	min-height:175px;
}

main h2{
	color:#62B7B7;
}

main p, main h1, main h3 {
color:white;
}

.uppercase {
	text-transform: uppercase;
}

.btn {
	text-decoration: none;
	background: #DD4A4A;
	color:white;
	padding:10px;
	display: inline-block;
}

/* Navigation
-----------------------*/
nav {
	text-align: right;
	position:absolute;
	background: #303030;
	top:0;
	width: 100%;
}

nav a {
	padding: 25px 20px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight:bold;
  	position: relative;
  	text-decoration: none;
}

a:hover::after {
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 0;
  border: 2px solid white;
}

/* Header and Footer
-----------------------*/
header, footer {
	background: #303030;
	color: white;
}
/* header */
header{
	padding-top: 250px;
	position: relative;
	background: #303030;
}


.download {
	position: absolute;
	bottom: 0;
	right:0;
}

header h1, header h2 {
	text-align:left;
	color:#EDF2F4
	margin: 0;

}

header h1 {
	padding-bottom: none;
	margin-bottom:0;
}

/* footer */
footer {
	text-align: center;
}

footer a {
	color:#DD4A4A;
}

.contact-info a {
	
	padding: 40px;
	display: inline-block;
}


/* Work
-----------------------*/
.work {
background: #303030;
}

h3 ~ p {
	margin: 0;
}

.job-description p:first-of-type {
	margin-top:0;
}

/* Education
-----------------------*/
.education {
background: #303030;
}

p + h3{
	margin-top: 30px;
}

/* intro
-----------------------*/
.intro {
background: #303030;
}

/* projects
-----------------------*/
.projects {
background: #303030;
}

p + h3{
	margin-top: 30px;
}

/* showcase
-----------------------*/
.showcase {
background: #303030;
}

p + h3{
	margin-top: 30px;
}
